---
import { getCollection } from "astro:content";
const allWorkPost = await getCollection("work");
---

<div>
  <ul>
    {
      allWorkPost.map((workPost) => {
        return (
          <li>
            <div>{workPost.}</div>
          </li>
        );
      })
    }
  </ul>
</div>
