---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About Me">
  <main>
    <section class="section-container">
      <p class="hero-text">
        Unlike most, I didn't graduate with a Computer Science degree. In my
        first job as a manufacturing engineer, I discovered the power of
        programming to automate the boring tasks.
        <br />
        <br />
        So I did a little bit of googling and wrote my first program! It was poorly
        written script that extracts data from a csv and inserts it into a relational
        database. It was pure satisfaction when the script executed successfully.
        Since then, I haven't stopped exploring the world of software engineering!
      </p>
    </section>
  </main>
</Layout>
