---
import Layout from "../layouts/Layout.astro";
import Deck from "@/components/Deck.astro";
import LinkedIn from "../../public/linkedin-svgrepo-com.svg";
import GitHub from "../../public/github-142-svgrepo-com.svg";
import Email from "../../public/email-svgrepo-com.svg";
---

<Layout title="Jun's Developer Portfolio">
  <main>
    <section class="section-container">
      <h1
        class="font-title font-bold text-xl text-dark mt-4 inline-block select-none"
      >
        Jun Yang <span class="text-primary">Chin</span>
      </h1>
      <p class="hero-text">
        Hello, I'm Jun Yang 俊扬, some call me Jun and that's fine. I'm web
        developer based in Kuala Lumpur 🧑‍💻.
      </p>
      <p class="hero-text">
        As a developer that primarily develop server-side programs, I enjoy
        fiddling with data by visualising how they transform and flow. In a
        startup environment, I'd rather prioritise shipping features than
        emphasising on clean code. However, there's always one principle that I
        always have in mind i.e. "Composition over Inheritance". Currently
        exploring the world of serverless technology and Go.
      </p>
      <p class="hero-text">
        Jun Yang is building(and breaking) things at
        <a
          href="https://invokeisdata.com"
          target="_blank"
          class="underline hover-link">@invokeisdata</a
        >. He is one of the core backend developer of INVOKE's first brainchild
        - <a
          href="https://adnexio.jobs"
          target="_blank"
          class="underline hover-link">adnexio</a
        >.
      </p>
      <ul class="flex flex-row gap-4 mt-4">
        <li>
          <a href="https://www.linkedin.com/in/junyangchin/" target="_blank">
            <img src={LinkedIn} alt="linkedin icon" width="20px" />
          </a>
        </li>
        <li>
          <a href="https://github.com/junyang-chin" target="_blank">
            <img src={GitHub} alt="github icon" width="20px" /></a
          >
        </li>
        <li>
          <a href="mailto:junyang.chin@outlook.com" target="_blank">
            <img src={Email} alt="email icon" width="20px" /></a
          >
        </li>
      </ul>
    </section>

    <section class="section-container">
      <h1 class="section-title">Selected Work</h1>
      <Deck
        title="adnexioJOBS"
        body="AI job matching without the frills"
        href="https://adnexio.jobs"
      />
      <Deck
        title="adnexioEDU"
        body="Accessible education in tech"
        href="https://edu.adnexio.jobs"
      />
      <Deck
        title="adnexioHR"
        body="All your HR needs in one portal"
        href="https://hr.adnexio.jobs"
      />
    </section>
    <section class="section-container">
      <h1 class="section-title">Get In Touch</h1>
      <div class="flex flex-wrap">
        <p class="py-1">The fastest way to reach me &nbsp</p>
        <p class="py-1">
          → <span
            class="text-primary hover:bg-slate-200 px-2 py-1 rounded inline select-all"
          >
            junyang.chin@outlook.com
          </span>
        </p>
      </div>
    </section>
  </main>
</Layout>
